/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset above */


ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav {
    /* border: 1px solid black; */
    margin: 2% 10%;
}

li {
    height: 45px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.plan {
    background-color: #FF764E;
}
.learn {
    background-color: #5ED3EB;
}
.get {
    background-color: #FFCD69;
}

.headImg {
    width: 25%;
    height: 25%;
}
.headImg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.headText {
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}
.headText h1 {
    font-size: 3rem;
    font-family: 'Brush Script MT', cursive;
    border: 1px solid black;
}
.headText p {
    width: 90%;
    text-align: center;
}
p {
    line-height: 1.25;
    font-family: 'Lucida Console', monospace;
}
.headBox {
    width: 96%;
    margin: 2%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}
.discription {
    width: 90%;
    margin: 3%;
    padding: 2%;
    background-color: rgb(226, 195, 154);
    color: white;
    text-align: center;
}

.fire {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 10%;
    align-items: center;
    text-align: center;
    border: 1px solid blue;
    margin: 2%;
}
.fire img {
    width: 40%;
    height: auto;
}

.rv {
    width: 40%;
    height: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    margin: 2%;
}
.rv img {
    width: 40%;
    height: auto;

}

.midBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red
}

